[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "argo"]
	path = argo
	url = https://github.com/cran/argo
[submodule "magi"]
	path = magi
	url = https://github.com/cran/magi
